@charset "utf-8";

:root{
    --primary-color: #3498db;
    --secund-color: #ffffff;
    --background-color: #000000;
    --text-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

